extends layout

block content
  //- HERO SECTION
  section.hero
    .container.hero__container 
      .hero__content
        h1.hero__title
          span Your senses.
          br
          span Set free.
    