// Змінні 
$container-width: 1260px;
$gutter: 24px;
$padding-mobile: 20px;

// Кольори
$color-black: #000000;
$color-white: #ffffff;
$color-gray-light: #f5f5f5; 

// Шрифти
$font-primary: 'Arial', sans-serif; 

$base-font-size: 16px;

@function toRem($value) {
  @if unit($value) == 'px' {
    @return ($value / $base-font-size) * 1rem; 
  }
  
  @if unitless($value) {
    @return ($value / 16) * 1rem;
  }
  
  @return $value;
}
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin text-style($size, $weight: normal) {
  font-size: toRem($size);
  font-weight: $weight;
}