@import 'variables'; 
@import '../normalize.css';

// Загальні стилі
body {
  font-family: $font-primary;
  color: $color-black;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  width: 100%;
}

// header
.header {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 0; 
  z-index: 10; 

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-weight: bold;
    font-size: 14px; 
    letter-spacing: 2px; 
    text-transform: uppercase;
    text-decoration: none;
    color: $color-black;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 30px; 
  }

  &__phone {
    @include flex-center; 
    @include text-style(14, bold); 
    gap: 10px;
  }

  &__icon {
    width: 24px; 
    height: 24px;
    display: block;
  }

  &__menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px; 

    .icon-default {
      display: block; 
      width: 24px; 
      height: 24px; 
    }
    
    .icon-hover {
      display: none;
      width: 24px; 
      height: 24px;
    }

    &:hover {

      .icon-default {
        display: none;  
      }
      
      .icon-hover {
        display: block; 
      }
    }
  }
}

// hero-section
.hero {
  height: toRem(720); 
  width: 100%;
  background-image: url('../images/hero.png');
  background-size: cover; 
  background-position: center center;
  background-repeat: no-repeat;
  
  display: flex;
  align-items: flex-end; 
  padding-bottom: toRem(80);

  &__title {
    color: $color-white; 
    font-size: toRem(80);
    line-height: 1.1;
    font-weight: bold;
  }
}

// catalog-section
.catalog {
  padding: toRem(100) 0; 

  .section-title {
    font-size: toRem(40);
    font-weight: bold;
    color: $color-black;
  }

  &__grid {
    display: grid;
    $card-span: 4;
    $card-width: ($card-span * $col-width) + (($card-span - 1) * $gutter);
    gap: toRem($gutter);
    grid-template-columns: repeat(auto-fit, minmax(toRem($card-width), 1fr)); 
  }
}

// product-card
.product-card {
  display: flex;
  flex-direction: column;

  &__image-wrapper {
    background-color: #FBF5F6;
    aspect-ratio: 1 / 1; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: toRem(24);
    
    img {
      max-width: 80%; 
      max-height: 80%;
      object-fit: contain;
      mix-blend-mode: multiply;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: toRem(10);
  }

  &__title {
    font-size: toRem(18);
    font-weight: bold;
    text-transform: uppercase;
    color: $color-black;
  }

  &__desc {
    font-size: toRem(16);
    line-height: 1.5;
    color: #555;
  }

  &__price {
    font-size: toRem(16);
    font-weight: bold;
    color: $color-black;
    margin-top: toRem(10);
  }
}

// categories-section
.categories {
  padding: toRem(100) 0;

  &__list {
    display: flex;          
    gap: toRem(24);        
    justify-content: space-between; 
    margin-bottom: toRem(60);
    flex-direction: column;
  }

  &__actions {
    display: flex;
    justify-content: start;

    .btn {
      width: 100%; 
    
      $btn-span: 4;
      $btn-width: ($btn-span * $col-width) + (($btn-span - 1) * $gutter);
      
      max-width: toRem($btn-width);
      
      box-sizing: border-box;
  }
}
}
// item
.category-item {
    flex: 1;
    min-width: 0;
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    height: 100%;
  

  &__images {
    display: flex;
    flex-direction: row; 
    gap: toRem(10);  
    margin-bottom: toRem(24);

    img {
      width: 100%;
      height: 100%;
      min-width: toRem(300);
      background-color: #FBF5F6;
      object-fit: cover;
      display: block;
    }
  }

  &__title {
    font-size: toRem(24);
    font-weight: bold;
    margin-bottom: toRem(10);
  }

  &__action {
    font-size: toRem(16);
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: toRem(8);
    text-transform: uppercase;
  }
}

// button
.btn--black {
  background-color: rgb(255, 123, 0);
  color: $color-white;

  padding: toRem(15) toRem(40);
  border-radius: toRem(10);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: toRem(14);

  transition: all 0.3s ease;

  &:hover {
    background-color: $color-black; 
    color: $color-white;          
  }

  &:active {
    background-color: #333; 
    color: $color-white;
    border-color: #333;
    
    transform: translateY(2px); 
  }
}

.banner {
  height: toRem(460);
  width: 100%;
  
  background-image: url('../images/banner.png'); 
  background-size: cover;        
  background-position: center;  
  background-repeat: no-repeat;
  
  display: flex;
  align-items: center;
}

.text-block {
  padding: toRem(100) 0; 
  background-color: #faf9dd;

  &__wrapper {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
  }

  &__title {
    $title-span: 6;
    $title-width: ($title-span * $col-width) + (($title-span - 1) * $gutter);
    
    flex: 0 1 toRem($title-width);   
    min-width: 0; 
    
    font-size: toRem(40);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.1;
    color: $color-black;
    
  }

  &__desc {
    $desc-span: 5;
    $desc-width: ($desc-span * $col-width) + (($desc-span - 1) * $gutter);

    flex: 0 1 toRem($desc-width);   
    min-width: 0; 
    
    font-size: toRem(16);
    line-height: 1.6;
    color: #666;      
    
    max-width: toRem(500); 
    
  }
}

// contact-section
.contact {
  padding: toRem(100) 0;

  &__title {
    font-size: toRem(40);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: toRem(60);
    color: $color-black;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: toRem(30); 
  }

  &__form {
    $form-span: 6;
    $form-width: ($form-span * $col-width) + (($form-span - 1) * $gutter);

    flex: 0 1 toRem($form-width);
    display: flex;
    flex-direction: column;
    gap: toRem(30); 
  }
  
  &__textarea,
  &__input {
    width: 100%;

    color: rgb(184, 184, 184);
    border: 1px solid #E0E0E0;
    background: transparent;

    font-size: toRem(16);
    color: $color-black;
    font-family: inherit;

    padding: toRem(20); 
    box-sizing: border-box;

    &::placeholder {
      color: #999;
      text-transform: uppercase;
      font-size: toRem(12);
      letter-spacing: 1px;
    }

    &:hover {
      border-color: #999; 
    } 

    &:focus {
      border-color: orange;
    }
  }

  &__textarea {
    min-height: toRem(120);
    resize: vertical;      
  }

  &__info {
    $info-span: 5;
    $info-width: ($info-span * $col-width) + (($info-span - 1) * $gutter);

    flex: 0 1 toRem($info-width);
    min-width: 0;
  }

  &__text {
    font-size: toRem(16);
    line-height: 1.8;
    color: #666;

    a {
      text-decoration: none;
      color: black;
      border-bottom: 1px solid transparent;
      transition: border-color 0.3s;

      &:hover {
        border-color: #666;
      }
    }
  }

  &__details {
    display: block;  
    margin-top: toRem(10); 
    color: $color-black;   
    font-style: normal;   
  }

  &__actions {
    display: flex;
    justify-content: flex-start;

    .btn {
      width: 100%;
      $btn-span: 6;
      $btn-width: ($btn-span * $col-width) + (($btn-span - 1) * $gutter);
      
      max-width: toRem($btn-width);
      box-sizing: border-box;
    }
  }
}
