@import 'variables'; 
@import '../normalize.css';

// Загальні стилі
body {
  font-family: $font-primary;
  color: $color-black;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  width: 100%;
}

// header
.header {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 0; 
  z-index: 10; 

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-weight: bold;
    font-size: 14px; 
    letter-spacing: 2px; 
    text-transform: uppercase;
    text-decoration: none;
    color: $color-black;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 30px; 
  }

  &__phone {
    @include flex-center; 
    @include text-style(14, bold); 
    gap: 10px;
  }

  &__icon {
    width: 24px; 
    height: 24px;
    display: block;
  }

  &__menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px; 

    .icon-default {
      display: block; 
      width: 24px; 
      height: 24px; 
    }
    
    .icon-hover {
      display: none;
      width: 24px; 
      height: 24px;
    }

    &:hover {

      .icon-default {
        display: none;  
      }
      
      .icon-hover {
        display: block; 
      }
    }
  }
}

// hero-section
.hero {
  height: toRem(720); 
  width: 100%;
  background-image: url('../images/hero.png');
  background-size: cover; 
  background-position: center center;
  background-repeat: no-repeat;
  
  display: flex;
  align-items: flex-end; 
  padding-bottom: toRem(80);

  &__title {
    color: $color-white; 
    font-size: toRem(80);
    line-height: 1.1;
    font-weight: bold;
  }
}

// catalog-section
.catalog {
  padding: toRem(100) toRem(15); 

  .section-title {
    font-size: toRem(40);
    font-weight: bold;
    margin-bottom: toRem(60); 
    color: $color-black;
  }

  &__grid {
    display: grid;
    // не менше ніж 300px кожна
    grid-template-columns: repeat(auto-fit, minmax(toRem(350), 1fr));
    gap: toRem($gutter); 
  }
}

// product-card
.product-card {
  display: flex;
  flex-direction: column;

  &__image-wrapper {
    background-color: #FBF5F6;
    aspect-ratio: 1 / 1; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: toRem(24);
    
    img {
      max-width: 80%; 
      max-height: 80%;
      object-fit: contain;
      mix-blend-mode: multiply;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: toRem(10);
  }

  &__title {
    font-size: toRem(18);
    font-weight: bold;
    text-transform: uppercase;
    color: $color-black;
  }

  &__desc {
    font-size: toRem(16);
    line-height: 1.5;
    color: #555;
  }

  &__price {
    font-size: toRem(16);
    font-weight: bold;
    color: $color-black;
    margin-top: toRem(10);
  }
}