@import 'variables'; 

// Загальні стилі
body {
  font-family: $font-primary;
  color: $color-black;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 ($gutter / 2); 
  width: 100%;
}

// header
.header {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 0; 
  z-index: 10; 

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-weight: bold;
    font-size: 14px; 
    letter-spacing: 2px; 
    text-transform: uppercase;
    text-decoration: none;
    color: $color-black;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 30px; 
  }

  &__phone {
    display: flex; 
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: $color-black;
    font-size: 14px;
    font-weight: bold;
  }

  &__menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px; 
  }
}

// hero-section
.hero {
  height: 100vh; 
  width: 100%;
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  
  display: flex;
  align-items: flex-end; 
  padding-bottom: 80px; 

  &__title {
    color: $color-white; 
    font-size: 64px; 
    line-height: 1.1;
    font-weight: bold;
  }
}