/* --- 1. Базові стилі --- */
body {
    background-color: #fff9f9;
    margin: 0;
    padding: 1rem;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    box-sizing: border-box;
}

/* --- 2. Контейнер сітки --- */
.container {
    display: flex;
    height: 95vh;
    gap: 10px;;
}

.col {
        background-color: #f7d748;
    position: relative;

    min-width: 200px;
    min-height: 600px;
    grid-column: 1;
    grid-row: span 12;
}

/* --- 3. Блоки --- */
.grid-item {
    background-color: #f7d748;
    position: relative;

    min-width: 20px;
    min-height: 20px;
}

/* Нумерація */
.grid-item::before {
    counter-increment: block-counter;
    content: counter(block-counter);

    position: absolute;
    top: 8px;
    left: 10px;
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    opacity: 0.8;
}


/* --- 4. Розташування блоків --- */

/* Колонка 1 */
.col:nth-child(1) {
    grid-column: 1;
    grid-row: span 12;
}

/* Колонка 2 */
.col:nth-child(2) {
    grid-column: 2;
    grid-row: span 12;
}

.col:nth-child(2) .grid-item:nth-child(1) {
    grid-column: 2;
    grid-row: span 4;
}
.col:nth-child(3) {
    grid-column: 2;
    grid-row: span 6;
}

/* Колонка 3 */
.col:nth-child(4) {
    grid-column: 3;
    grid-row: span 3;
}
.col:nth-child(5) {
    grid-column: 3;
    grid-row: span 4;
}
.col:nth-child(6) {
    grid-column: 3;
    grid-row: span 5;
}

/* Колонка 4 */
.col:nth-child(7) {
    grid-column: 4;
    grid-row: span 2;
}
.col:nth-child(8) {
    grid-column: 4;
    grid-row: span 3;
}
.col:nth-child(9) {
    grid-column: 4;
    grid-row: span 3;
}
.col:nth-child(10) {
    grid-column: 4;
    grid-row: span 4;
}

/* Колонка 5 */
.col:nth-child(11) {
    grid-column: 5;
    grid-row: span 2;
}
.col:nth-child(12) {
    grid-column: 5;
    grid-row: span 2;
}
.col:nth-child(13) {
    grid-column: 5;
    grid-row: span 2;
}
.col:nth-child(14) {
    grid-column: 5;
    grid-row: span 2;
}
.col:nth-child(15) {
    grid-column: 5;
    grid-row: span 2;
}
.col:nth-child(16) {
    grid-column: 5;
    grid-row: span 2;
}

/* --- Колонка 6 (Елементи 17–28) --- */
/* Заставляємо їх стояти строго зверху вниз */
.col:nth-child(n+17) {
    grid-column: 6;
    grid-row: span 1; /* Всі однакові */
}