header.header
  .container.header__container
    a.header__logo(href="#") BANG & OLUFSEN
    
    include navigation
    
    .header__actions
      a.header__phone(href="tel:+12345555555") +1 234 555-55-55
        img.header__icon(src="images/phone.svg", alt="Phone")
      
      button.header__menu-btn
        img.icon-default(src="images/menu.svg", alt="Menu")
        img.icon-hover(src="images/menu_hover.svg", alt="Menu Active")