section.text-block
  .container
    .text-block__wrapper
      h2.text-block__title 
        | Timeless, for 50
        br
        | years and counting
      
      p.text-block__desc
          | Bang & Olufsen is expanding its Recreated Classics Program with the launch of Beosystems – a limited edition music system that transcends time by bridging the gap between one of our iconic designs from 1972 and today’s cutting-edge digital technology.