
div {
  background-color: rgb(255, 165, 0);
  width: 500px;
  padding: 20px;
  color: white;
}

h1 {
  font-size: 25px;
  font-weight: 900;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.level1 > li {
  background-color: rgb(103, 158, 128);
  padding: 0 px 20px 0 px 50px;
}

.level2 {
  background-color: rgb(153, 180, 102);
  font-size: 18px;
  font-style: italic;
  padding-left: 40px;
}

.level2 li {
  margin-bottom: 10px;
}

.level1 img,
.level2 img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-right: 10px;
}

span {
  padding: 10px 20px;
  display: inline-block;
}

.level1 > li > span {
  font-size: 20px;
  font-weight: 700;
  background-color: rgb(199, 124, 106);
  margin-bottom: 10px;
}

.level2 span {
  background-color: rgb(218, 106, 32);
}
