img {
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 5px gray;
}

.container {
  max-width: 100%;
  height: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 25% 50% 25%;
  gap: 10px 10px;
}

.wide {
  grid-area: 2 / 1 / 2 / 6;
}

.wide img {
  max-height: 100%;
}

@media (max-width: 768px) {
  .container {
    height: 800px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }

  .wide {
    grid-column: 1 / 4;
    grid-row: auto;
  }

  img {
    width: 100%;
    max-height: 250px;
    box-shadow: 5px 5px 5px gray;
  }
}

@media (max-width: 576px) {
  .container {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .wide {
    grid-column: 1 / 2;
  }

  img {
    height: auto;
  }
}
